.projectscontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectcard {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 71.375rem;
    height: 25rem;
    gap: 0.625rem;
    border-radius: 1.5rem;
    margin-top: 3rem;
}