.intro-flexbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    margin-left: 7.5rem;
    margin-right: 40.69rem;
    margin-top: 7rem;
    margin-bottom: 240.25rem;
}

.hellobox {
  border-radius: 0.625rem;
  background: #FFDDBF;
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 8.1875rem;
  height: 2.25rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.intro {
  color: #403930;
  font-family: 'Eczar';
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.08rem;
  width: 37.1875rem;
  margin: 0;
}