@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Lato:wght@100&family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', 'Eczar', serif, sans-serif;
  background: #ffeed9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
